body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #007A3D;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

section {
    padding: 40px 20px;
}

.section-title {
    color: #2E2E2E;
    font-size: 2em;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: justify;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.btn-login {
    background-color: #D91C2A;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #C0392B;
}

footer {
    background-color: #2C3E50;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a{
    color: white
}